{% extends 'base.html' %}

{% block content %}
<section>
    <div>
        <h1>Você vai escolher a coisa certa na hora certa!</h1>
        <div>
            <pre>
                Recebemos seu email e entraremos em contato
                com você para enviar uma lista de vídeos que
                fornecerá informações importantes que farão
                você fazer a coisa certa na hora certa.

                Após ver os vídeos estaremos a sua disposição
                para conversarmos.
            </pre>
        </div>
    </div>
</section>
{% endblock content %}